.container .listUl{
    display: none;
}
.container .delu{
   display: none;
}
.memu{
    display: block;
    position: relative;
}
@media (max-width:768px) {
    .container h1{
        width: 50px;
        height: 64px;
        background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165088885898724390646.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A48%3A08Z/-1//19d4defb526d4158db76899ea6c7decc3a93c24abadecfdb239cbdc459f0c198) no-repeat center;
    }
    .contEz .ezLeft{
        background-size: 85% 85%;
    }
    .ezText{
        padding: 18%;
        width: 65%;
    }
    .ezText p{
       margin: 2% 0; 
    }
    .contEz .ezLeft{
        background-position: center;
    }
    .btn{
        height: 28px;
    }
    .contEz .ezRight{
        height: 486px;
        /* background-position: 216px -42px; */
        background-position: 58% 80%;
        background-size: 50%;
    }
    .ezRight .ez{
        background-size: 62%;
        /* background-position: 50px 90px; */
        background-position: 32% 40%;
    }
    .xioText{
        width: 60%;
        height: 60%;
        padding: 20%;
       
    }
    .xioLeft{
        background-position:center bottom ;
    }
    .xioRight{
       height: auto;
       background-position:center ;
       background-size:85% 85% ;
    } 
    .lei{
        background-size:45%;
        background-position: center center;
    }
    .yingxio h2{
        font-size: 18px;
        letter-spacing: 3px;
    }

    .lists {
        list-style: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 200%;
    }
    .copy {
        width: 100%;
        border-top: solid 1px #A06A0F;
        position: relative;
        background: #000000;
        padding-bottom:5%; 
    
    }
 
}
/* @media (min-width:767px){
    .ezRight .ez{
        background-position: 45% 62%;
    }
   
} */
.memuList{
    position: absolute;
    top:70px;
    z-index: 99999;
    transform-origin:top right ;
    transform: scale(0);
    right: 5px;
    opacity: 0;
    background: #ffff;
    box-shadow:  0 0 10px #000;
    border-radius: 5px;
}
.memu div.active{
    transition: all .3s ease-out;
    min-width:30vw;
    width: 250px;
    height: 400px;
    opacity: 1;
    transform: scale(1);
}
.memuList::before{
    content: '';
    position: absolute;
    top:-7px;
    right: 8px;
    width: 15px;
    height:15px;
    background: white;
    z-index: -1;
    transform: rotateZ(45deg);
}
.memucontent{
    width: 90%;
    padding: 5%;
    border-radius: 5px;
    height: inherit;
    background: white;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
}
.deng  a{
    font-size: 20px;
    color:#444343;
    font-weight: 600;
}
.nav{
    list-style: none;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.nav li{
    height: 30px;
}
.nav li a{
    display: block;
    width: 100%;
    height: 100%;
   font-size:18px;
   color: #f0a008;
   text-decoration: none;
}
.fulei{
    width: 100% !important;
}
.maxBottom{
    display: none;
}
.maxDiv{
    height: 95%;
    background-size:cover ;
}

@media(max-width:645px){
    .banner {
        width: 100%;
        height: 774px;
        background: url(../img/bann.png) no-repeat center;
        background-size:cover ;
    }
}
.fdd{
    display: block;
    width: 291px;
    height: 294px;
    margin-bottom: 15px;
    position: relative;
    flex-direction: column;
    border: solid 1px #da950a;
    transition: all 0.8s;
}
.topRight{
    display: none;
}
.topLeft{
    width: 100%;
}

