* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165127686632454193497.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A54%3A36Z/-1//f763163b86099fa2147dacc75cce82f2e4c9435d228e2b943e90271dee5a8415) no-repeat center;
    background-size: cover;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .header {
    width: 100%;
    height: 64px;
    background: #121212;
    margin: 0 auto;
    position: relative;
}

.header h1 {
    width: 154px;
    height: 100%;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -999px;
    position: absolute;
    left: 0px;
}

.header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .container {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.header .container h2 {
    float: left;
    display: inline-block;
    width: 160px;
    height: 64px;
    background: url(../img/1.jpg);
}

.header .listUl {
    padding-top: 12px;
    float: left;
    text-align: center;
}

.header .listUl li {
    float: left;
    padding: 0 20px;
}

.header .listUl li a {
    color: #c38819;
    font-size: 16px;
}

.header .denglu {
    position: absolute;
    right: 200px;
}

.header .denglu a {
    font-size: 16px;
    color: #c38819;
    line-height: 64px;
}

.header .gushi a {
    width: 121px;
    height: 64px;
    background: url(../img/4.jpg) no-repeat center;
    position: absolute;
    right: 50px;
    top:0;
} */


#App{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
}



/* 导航 */
.header{
    width: 100%;
    background: #121212;
    height: 64px;
    display: flex;
    justify-content: center;
}
.header p{
    font-size: 12px;
}
.header .container{
    display: flex;
    width:100%;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap ;
    padding:  0 10vw;
}
.container h1{
    width: 138px;
    height: 64px;
    text-indent: -999px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165138727468329488524.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A56%3A27Z/-1//6d4a3ef1d66c59e6d0079ed747e56fd3a32284cbee5b1efa47852bb72432c2ac) no-repeat center;
}
.container h2{
    width: 160px;
    height: 64px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165088879632137903971.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A48%3A08Z/-1//20214d121222c60fafff12331c427cdedd17fa534ad59ff94d65bda15a90c8e5);

}
.container .listUl{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
}
.container .listUl li{
   
    text-align: center;
}
.container .listUl li a{
     color: #c38819;
     transition: all 0.5s;
}
.container .listUl li a:hover{
    color: white;
}
.container .delu{
    width: 200px;
    height: 64px;
    display: flex;
    color: #c38819;
    justify-content: space-between;
    align-items: center;

}
.container .delu a{
    color: #c38819;
    transition: all 0.5s;
}
.container .delu a:hover{
    color: white;
}
.container .delu .gushi{
    width: 121px;
    height: 64px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165088896823289189585.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A48%3A09Z/-1//08443381717a54200ea05ce122340db7cc2922f2afa7df9d967eacc20057266d) no-repeat center center;

}
.container .center{
    max-width: 900px;
    height: 64px;
    display: flex;
    flex:1;
    justify-content: center;
}
.memu{
    display:none;
    width: 40px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size:36px;
    transition: all .3s ease-in-out;
    color: #fff;
}
.memu span::selection {
    background: transparent; 
}
.container .listUl li .white{
    color: white;
}




/* banner */
.banner{
    width: 100%;
    height: 1474px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165158526287671807884.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A59%3A45Z/-1//ba5f116cb556ad1692a062216c891759bea0ef34ab165cd144b0f18cb186d548) no-repeat center;
}




/* 英雄 */
.content{
    width: 100%;
    display:flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
}
.cont{
    max-width: 1600px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center ;
}
.cont .contTop{
    max-width:100%;
    height: 100px;
    overflow: hidden;
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165172931255473614787.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A02%3A09Z/-1//b243a2c26058946f0d81f46a080838500849b290bcf593c6321b8af6da8345b1)no-repeat;
    background-position: center 0;
}
.contTop h3{
    color: #da950a;
    text-align: center;
    line-height: 130px;
    letter-spacing: 5px;
    transform: translateX(4px);
    font-weight: 600;
}
.contEz{
    max-width:100vw;
    max-height: 1140px;
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.ezwrap{
    width:100vw ;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.contEz .ezLeft{
    width: 674px;
    height: 340px;
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165185309618569664447.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A04%3A13Z/-1//650bba071327fa927a643989d8ea3e391b7c2d7f8a739f3dcdf27fcd00953374)no-repeat ;
}
.ezText{
    width: 90%;
    height: 90%;
    padding: 5%;
}
.cont  h2{
    text-align: left;
    color: #da950a;
}
.cont  p{
    margin:40px 0;
    color: #da950a;
    line-height: 30px;
    font-size: 18px;
}
.cont  h4{
    text-align: right;
    color: #da950a;
}
.contEz .ezRight{
    width: 750px;
    height: 700px;
    transition: all 1s ;
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165178200105933412029.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A03%3A02Z/-1//69b06b2fd44ab85d1c82e3260a595ed1406ab6affa16c5a6cf1c0441f3b647c9) no-repeat center;
    background-position: right -100px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

/* .contEz .ezRight img{
    display: block;
    border-radius:50% ;
    position: absolute; 
    left:50%;
    transform: translateX(-50%);
    top:15%;
    width: 40%;
    height: 70%;
    opacity: .5;
    z-index: 0;
    mix-blend-mode:screen;
} */
.ezRight .ez{
    animation: color 2s  infinite linear;
    width: 634px;
    height: 432px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165185314316844678539.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A04%3A13Z/-1//a7297c8a7414a0e1d9ee1c6d88ff9c3b264572a6c3d1d645e27a4e32ec6ab21b) no-repeat center;
}
@keyframes color{
    0%{
      filter:saturate(1)  drop-shadow(0 0 5px rgba(0,0,0,.7)); 
      transform:  translateY(-2%);
    }
    50%{
        filter:saturate(2.5) drop-shadow(0px 0px 20px rgba(0,0,0,.7));      
        transform:  translateY(0%);
    }
    100%{
      filter:saturate(1) drop-shadow(0 0 5px rgba(0,0,0,.7));
       transform:  translateY(-2%);
      
    }
}

/* .contEz .jiRight{
    width: 750px;
    height: 700px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
} */

/* .Ji{
    width: 534px;
    height: 632px;
    transform: rotateY(180deg);
    background: url(../img/kasading.png) no-repeat center;
    background-size: 100%;
    float: right;
} */
.btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    margin: 0 auto;
}
.btn a{
    font-size:40px;
    color: #da950a;
}
.btn a:nth-child(1){
    text-align: left;
     padding-right: 50%; 
}

/* ez 板块 */
@media (max-width:1600px){
    .contEz {
        width: 100vw;
        height: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap-reverse;
    }
    .contEz .ezLeft {
        width: 674px;
        padding-bottom: 100px;
        height: 340px;
        background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165185309618569664447.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A04%3A13Z/-1//650bba071327fa927a643989d8ea3e391b7c2d7f8a739f3dcdf27fcd00953374)no-repeat ;;
    }
    .ezwrap {  
        justify-content: center;
    }
}


.contXio{
    max-width:100vw;
    padding-top:2vw;
    height: auto;
    display: flex;
    justify-content:center;
}
.xiowrap{
    max-width: 100vw;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xioLeft{
    width: 750px;
    height:600px; 
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165185318996278692631.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A04%3A13Z/-1//b1166902aa5fe590f9b0920fc021e0e597f359fc14250c11441215d5df3a4fb1)no-repeat;
    background-position: left bottom;
}
.lei{
    width: 750px;
    height: 600px;
    filter: sepia(90%);
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165185323686683706723.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A04%3A13Z/-1//a25facd887ef8a94d2b7c942c21fd36707aeb6f53b4346a66cc523318eb4225a)no-repeat;
    background-position: left top;
    animation: xio 2s infinite linear;
}   
@keyframes xio{
    0%{
      filter:saturate(1)  drop-shadow(0 0 5px rgba(0,0,0,.7)); 
      transform:  translateY(-2%);
    }
    50%{
        filter:saturate(2) drop-shadow(0px 0px 20px rgba(0,0,0,.7));      
        transform:  translateY(0%);
    }
    100%{
      filter:saturate(1) drop-shadow(0 0 5px rgba(0,0,0,.7));
       transform:  translateY(-2%);
      
    }
}
.xioText{
    width: 90%;
    height: 90%;
    padding: 5%;
   
}
.xioRight{
    width: 674px;
    height:320px;
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165185309618569664447.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A04%3A13Z/-1//650bba071327fa927a643989d8ea3e391b7c2d7f8a739f3dcdf27fcd00953374)no-repeat ;
}
@media(max-width:1600px){
    .xiowrap{
        max-width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}

.contYinxio{
    max-width:100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yingxio{
    width:90vw;
    height: 80px;
    background: #101010;
    border: #da950a 1px solid;
}
.yingxio h2 {
    text-align: center;
    line-height: 80px;
}




/* 地区 */
.area{
    width: 1449px;
    margin-top:10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.area .table{
    width:100%;
    height: 80px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165235551222914152842.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A12%3A35Z/-1//94dc0a1385c91c5522d6ed24c9dd9081b0205bbc591c4bd071a080580015df32)no-repeat center 0 ;
}
.area .table h3{
    letter-spacing: 5px;
    font-weight:600;
    text-align: center;
    color: #da950a;
    line-height: 140px;
}
.area .areaDiv{
    width:100%;
    height: auto;
	margin-top:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.areaMax{
    width: 90%;
    height:auto;
    display: flex;
	overflow: hidden;
    align-items: center;
    justify-content: space-around;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165240596620794833451.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A13%3A26Z/-1//c79fa83a9b2c53ae986bf2a10cd8f158c3334e455bdc042a01212f215e9a0b7a)no-repeat;
    background-size:cover ;
}
.areaMax .maxCenter{
    width: 90%;
    height: 665px;
    transform: translateY(2%);
    border: none;
    border-bottom: transparent;
    overflow: hidden;
}
.areaMax .maxLeft{
    width: 30px;
    height: 30px;
    color: #da950a;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border: solid 1.5px #da950a;
    border-radius: 50%;
}
.areaMax .maxRight{
    width: 30px;
    height: 30px;
    color: #da950a;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: solid 1.5px #da950a;
    border-radius: 50%;
}
.maxLeft::selection{
    background: transparent;
}
.maxRight::selection{
    background: transparent;
}
.maxMax{
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.8s ease-in-out;
}
.fulei{
    width: calc(100% / 6);
    height: 100%;
}
.maxDiv{
   width: 100%;
   height: 565px;
   box-sizing: border-box;
  border: solid 1px #DA950A;
}
.fuDiv{
     background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371168960479445593726653.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T11%3A33%3A24Z/-1//ded06a20bd222b519c9dd34498a887774755038155db42041044167a2436c237)no-repeat;
     background-size:100% ;
}
.maxBottom{
    height: 100px;
    width: 100%;
    display: flex;
	box-sizing: border-box;
	border-left:solid 1px #DA950A ;
	border-right:solid 1px #DA950A ;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}
.maxBottom .bottomLeft{
    width: 210px;
    height: 100%;
}
.fuIc{
     background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165313499590331117811.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A25%3A35Z/-1//a3b16fa8c5e622c8275f8ef14bbea64b13a1d680943954e5662017e5c7476dc3)no-repeat center center;
     background-size:20% ;
}
.maxBottom .bottomCenter{
    width: 640px;
    height: 100%;
	box-sizing: border-box;
    border-left:solid 1px #da950a;
    border-right: solid 1px #da950a;
	position: relative;
}
.maxBottom .bottomRight{
    width: 210px;
    height: 100%;
	position: relative;
}
.maxBottom .h3{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size:.9rem ;
    text-align:center;
    color: #da950a;
    letter-spacing: 5px;
    line-height: 100%;
}
.maxBottom .h5{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size:.5rem ;
    text-align:center;
    color: #da950a;	
    line-height: 100%;
}
.nuoke{
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371168960495091338241512.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T11%3A33%3A24Z/-1//7f2e563d1760e74380daee94b0b530663167950c08d641e95192504b3baf2038)no-repeat;
    background-size:100%;
}
.nuokeIc{
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165313508968409145995.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A25%3A35Z/-1//17df65ec1fc9af26838eac0d9b390e9ce3af44d0eb4d593a01a4c030137e4a47)no-repeat center center;
    background-size:20%;
}
.anyingDiv{
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371168993716383462702420.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T11%3A38%3A57Z/-1//21514579c87870847ac0f5b2105886cda2766a0d693e943ada2da73285476f03)no-repeat;
}
.anyingIc{
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165313513652554160087.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A25%3A35Z/-1//a8265b83d3427e11f08e328d0e4254a36f8e9023f2653cc2c23d09c034e032d1)no-repeat center center;
    background-size:15%;
}
.demaDiv{
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371168960490381034227420.jpg?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T11%3A33%3A24Z/-1//1b837f38bd232b766d00e9c80f4db784bc0198cb0df62a5a0b4bfea4e85ce821)no-repeat;
    background-size: cover;
}
.demaIc{
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165313502725208361148.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A25%3A35Z/-1//be0f61eec97a2c5cd4c1727cdf695e96021f72ba0139ef21f5d0f8f2a599246e)no-repeat center center;
    background-size:15% ;
}


/* 精选 */
.sift{
    width: 1449px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-bottom: 7%;
}
.sift .siftTable{
    width: 100%;
    height: 80px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165235565273777195118.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A12%3A35Z/-1//cd4c5745ab186ea807e745b81adf194411b5b3286b344efb0576cb0fcdbd6eb3)no-repeat center 0;
}
.siftTable h3{
    color: #da950a;
    text-align: center;
    line-height: 130px;
    letter-spacing: 3px;
}
.sift .siftContent{
    margin-top:50px ;
    padding-top:40px;
    width: 1221px;
    height: 1919px;
    box-sizing: border-box;
    border: solid 1.5px #da950a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165334812628809305369.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A29%3A08Z/-1//c3385781a9e08fa07be820a9db865b096070fdc828e0f6fb559dac4c3351507e)no-repeat 100%;
}
.siftTop{
    width: 96%;
    padding:  0 2%;
    height: 650px;
    display: flex;
   justify-content: space-between;
}
.siftBottom{
    width: 96%;
    padding:  0 2%;
    height: 650px;
    margin-top:20%;
    display: flex;
    justify-content: space-between;
}
.topLeft{
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lols{
    width: 45%;
    height: 45%;
    display: flex;
    position: relative;
    flex-direction: column;
    border: solid 1px #da950a;
    transition: all 0.8s;
}

.lols:hover{
    transform: scale(1.1);
}
.siftContent img{
    display: block;
    width: 100%;
}
 .siftContent .lolsBot{
   height: 12%;
   width: 100%;
   border-top:solid 1px #da950a;
}
.lolsIc{ 
    position: absolute;
     bottom: 5%;
     left: 50%;
     transform: translateX(-50%);
     z-index: 2;
    width:33px;
    height: 33px;
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165391113387327779882.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A38%3A31Z/-1//65c8d80a692afcbaa51aa35b05ace53227eea6c13647f6cce7041882c8b1c492)no-repeat;
}
.topRight{
    width: 43%;
    height: 95%;
    border: solid 1px #da950a;
    position: relative;
    transition: all 0.8s;
}
.topRight:hover{
    transform: scale(1.1);
}
.topRight .riBot{
     height: 150px;
     border-top:solid 1px #da950a;
}
.lolIc{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 15%;
    width: 55px;
    height: 55px;
    background:url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165391118077087495802.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T01%3A38%3A31Z/-1//11dd9aafc89083e9b9c20baec7864cd548c140e983f99dcca66d8007b3aeb004)no-repeat;
}




.copy {
    width: 100%;
    padding-bottom: 20px;
    border-top: solid 1px #A06A0F;
    position: relative;
    background: #000000;
}

.copy-logo {
    margin: 30px auto;
    width: 91px;
    height: 30px;
    background: url(http://bj.bcebos.com/v1/hnteacher-resources/PersonalWordAttachment/20191211/6371165088892135805175493.png?authorization=bce-auth-v1/4ad12fdb4b764e7880528b4c1a87f98a/2019-12-11T00%3A48%3A08Z/-1//5a4bc311930b25df17bfdcb89b92acc5792b655c104e0bf05a99e1364b205fc6)no-repeat;
    background-size: 100%;
}

.lists {
    list-style: none;
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.lists li {
    margin-left: 15px;
    font-size: 15px;
}

.lists li a {
    transform: all .5s;
    color: #A06A0F;
}

.lists li:hover {
    color: #fff;
}

.copy p {
    text-align: center;
    font-size: 15px;
    color: #A06A0F;
}
#click{
    display: none;
}
.fdd{
    display: none;
}