body {
    width: 100%;
    overflow-x: hidden;
}
.content .con_bottom ul li{
    float: none;
    margin: 5% 0;
    overflow: hidden;
    background-size: 304px;
}
.content .con_top img{
    height: 16px;
}

.con_bottom ul li p{
    width: 244px;
}

.con_bottom ul li p img{
    width: 100%;
}
.lists {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 200%;
}
.copy {
    width: 100%;
    border-top: solid 1px #A06A0F;
    position: relative;
    background: #000000;
    padding-bottom:5%; 

}
.content {
    width: 100%;
    height: 2382px;
    background: url(../imges/14.png) no-repeat 63%;
    background-size: cover;
}

